html,
body {
    height: 100%;
    background-color: #aaa;
}

/*************** GLOBAL *****************/
.container {
    width: auto;
    max-width: 980px;
}

.left {
    float: left;
}
h2 {
    text-transform: uppercase;
    color: #847525;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 0;
}
p  {
    margin-top: 10px;
}

.separator-shadow  {
    border: 0;
    border-bottom: 1px #847525 solid;
    height: 10px;
    padding: 0;
}

.separator-outer hr {
    margin: 0;
    padding: 0;
}

.separator-outer  {
    margin: 0;
    height: 21px;
    background: transparent url('../img/separator.png') no-repeat center center;
}

/*************** HEADER *****************/
.navbar-fixed-top .navbar-inner {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
.navbar.navbar-fixed-top > .navbar-inner > .container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}
.header-shadow  {
    max-width: 1024px;
    margin: 0 auto;
}
.navbar .brand-shadow  {
    margin: 0 50px 0 0;
    padding: 0;
}
@media (min-width: 979px) {
    .navbar .nav  {
        height: 70px;
    }
    .navbar .nav > li > a {
        padding-top: 40px;
    }
}


.navbar .nav > li > a:hover {
    background-color: #847525;
}

.navbar .nav > .active > a {
    color: #fff;
    background-color: #847525;
}

.navbar .nav > .active > a:hover {
    background-color: #847525;
}

/**************** MAIN ******************/
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 160px auto -60px;
    padding-bottom: 70px;
}
.disclaimer-top {
    width: 80px;
    height: 50px;
    margin: 0 auto;
    background: #fdf6e1 url('http://placehold.it/80x50') no-repeat 0 0;
}
.disclaimer-shadow {
    background-color: #fdf6e1;
    padding: 20px;
}
.disclaimer-shadow  .container{
    border: 1px #847525 solid;
    padding: 10px;
}

.news-picto {
    height: 100px;
    width: 100px;
    padding: 5px;
}

.news-content {
    padding: 5px;
    overflow: hidden;
    max-height: 100px;
}
h3 {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 20px;
    font-size: 18px;
    margin: 0;
}
.news-shadow {
    list-style-type: none;
    margin: 0;
}

.news-shadow > li {
    height: 110px;
    overflow: hidden;
    margin: 5px 0;
    background-color: #fff;
    color: #000;
    word-wrap: break-word;
}


/*************** FOOTER *****************/
#push,
#footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
}

.container .credit {
    margin: 20px 0;
    text-align: center;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}